<% layout("/layouts/boilerplate.ejs") %>
  <h1>All Listings</h1>
  <form method="GET" action="/listings/new">
    <button>Create New Listing</button>
  </form>
  <% for(let listing of listings) {%>
    <a href="/listings/<%= listing._id  %>">
      <ul>
        <li>
          <%= listing.title %>
        </li>
      </ul>
    </a>
    <% } %>

