<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travii</title>
</head>

<body>
  <h1>Create new Listing</h1>
  <form action="">
    <input type="text" name="listing[title]" placeholder="Enter title">
    <input type="text" name="listing[description]" placeholder="Enter description">
    <textarea name="image" placeholder="IMG url"></textarea>
    <input type="text" name="listing[price]" placeholder="Enter price">
    <input type="text" name="listing[location]" placeholder="Enter location">
    <input type="text" name="listing[country]" placeholder="Enter country">
    <button>Submit</button>
  </form>

</body>

</html>