body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.container {
  flex: 1;
}
/* Navbar  */

.navbar {
  height: 5rem !important;
  background-color: #FCFCFC;

}

.fa-compass {
  color: #FF385C;
  font-size: 2rem;
  
}

.nav-link {
  color: #131111c7 !important;
}

/* footer  */

.f-info {
  height: 6rem;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.fa-brands {
  margin-right: 0.3rem;
  font-size: 1.1rem;
}

.f-info-links a {
  text-decoration: none;
  color: black;

}
.f-info-links a:hover {
  text-decoration: underline;

}

/* New Page  */
.save-btn {
  background-color: #FF385C !important;
  border: none !important;
}

 /* Cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}
.card-body {
  padding: 0 !important;
}

.card-link {
  text-decoration: none;
}

/* Card Effects  */
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* Edit Page */

.edit-btn {
  background-color: #FF385C !important;
  color: #F7F7F7 !important;
  border: none !important;
}


/* Show Page  */

.show-img {
  height: 30vh;
}

.btns {
  display: flex;
}
