body {
  display: flex;
  flex-direction: column;
  height: 100vh;

}

.container {
  flex: 1;
}
/* Navbar  */

.navbar {
  height: 5rem !important;
  background-color: #ffffff;

}

.fa-compass {
  color: #FF385C;
  font-size: 2rem;
  
}

.nav-link {
  color: #131111c7 !important;
}

/* footer  */

.f-info {
  height: 6rem;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.fa-brands {
  margin-right: 0.3rem;
  font-size: 1.1rem;
}

.f-info-links a {
  text-decoration: none;
  color: black;

}